.wrapper {
    background-color: var(--background);
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-size: 0.7vmin;
}

.btn {
    background-color: var(--accent);
    border-radius: 50%;
    padding: 1.5em;
    margin-left: 2.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    font-size: 5vmin;
    position: inherit;
}



.btn:hover {
    background-color: var(--hover);
    color: black;
    border: solid;
}


.main-content {
    margin: auto;
    padding-left: 10em;
    display: flex;
    flex-direction: column;
}

#console-stmnt{
    margin-top: 5em;
    margin-bottom: 5em;
}
#console-stmnt1 {
    margin-bottom: 5em;
}

@media (max-width: 600px) {
   .wrapper {
       height: 90vh;
       font-size: 1.4vmin;
   }

    .main-content {
        margin: auto;
    }

    .btn {
        font-size: 7vmin;
    }


}




