.wrapper {
    background-color: var(--background);
    display: flex;
    height: 100vh;
    overflow: scroll;
    font-size: 0.9vmin;
}

.btn {
    background-color: var(--accent);
    border-radius: 50%;
    padding: 1.5em;
    color: white;
    font-size: 5vmin;
    box-sizing: border-box;
}

.btn:hover {
    box-sizing: border-box !important;
    background-color: var(--hover);
    color: black;
    border: solid;
}


.main-content {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.github-icon {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    padding-right: 10em;
}

#console-stmnt{
    margin-top: 5em;
    margin-bottom: 5em;
}

#console-stmnt1 {
    margin-bottom: 5em;
}

@media (max-width: 600px) {
   .wrapper {
       font-size: 1.4vmin;
       height: 77vh;
       overflow: hidden;
   }

    .main-content {
        margin: auto;
    }

    .btn {
        font-size: 5vmin;
    }
}




