.loadingContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loadingContainer img {
    height: 30em;
    width: 11em;
}
