.side-nav {
    background-color: var(--standout);
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    justify-content: space-evenly;
    position: fixed;
    width: 100px;
    font-size: 0.7em;
}

.nav-item {
    margin-top: 4em;
    text-align: center;

}


.nav-item:hover i {
    display: none;

}

.nav-item span {
    padding-top:1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    display: none;

}

.nav-item:hover span {
    display: block;
    background-color: white;
    color: black;
}

@media (max-device-width: 650px) {
    .side-nav {
        height: 10vh;
        width: 100vw;
        position: fixed;
        bottom: 0;
        font-size: 0.5rem;
        opacity: 2;
    }

    .nav-item span {
        font-size: 0.3rem;
        justify-content: center;
        padding: 2.8em;
    }


    .nav-items {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        margin: auto;
    }

    .nav-item:hover {
        margin: auto;
        text-align: center;
    }

    .nav-item:hover span {
        background-color: white;
        margin: auto;
    }
}










