.main-page-grid {
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    grid-template-areas: 'sidebar content';
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 20vh 81vw #fff,
    15vh 27vw #fff,
    99vh 93vw #fff,
    94vh 53vw #fff,
    44vh 10vw #fff,
    55vh 79vw #fff,
    63vh 19vw #fff,
    88vh 52vw #fff,
    59vh 11vw #fff,
    36vh 26vw #fff,
    68vh 45vw #fff,
    66vh 24vw #fff,
    39vh 87vw #fff,
    43vh 46vw #fff,
    67vh 7vw #fff,
    52vh 89vw #fff,
    24vh 17vw #fff,
    87vh 24vw #fff,
    71vh 83vw #fff,
    29vh 67vw #fff,
    55vh 25vw #fff,
    63vh 69vw #fff,
    84vh 28vw #fff,
    81vh 36vw #fff,
    75vh 64vw #fff,
    89vh 61vw #fff,
    92vh 54vw #fff,
    81vh 86vw #fff,
    34vh 11vw #fff,
    37vh 33vw #fff,
    91vh 82vw #fff,
    70vh 27vw #fff,
    91vh 71vw #fff,
    86vh 56vw #fff,
    5vh 79vw #fff,
    46vh 7vw #fff,
    26vh 79vw #fff,
    10vh 65vw #fff,
    8vh 72vw #fff,
    22vh 48vw #fff,
    27vh 15vw #fff,
    63vh 44vw #fff,
    66vh 83vw #fff,
    97vh 60vw #fff,
    28vh 64vw #fff,
    70vh 98vw #fff,
    52vh 83vw #fff,
    59vh 97vw #fff,
    91vh 65vw #fff,
    53vh 89vw #fff,
    11vh 72vw #fff,
    54vh 12vw #fff,
    93vh 26vw #fff,
    81vh 69vw #fff,
    41vh 0vw #fff,
    39vh 61vw #fff,
    13vh 60vw #fff,
    4vh 97vw #fff,
    55vh 19vw #fff,
    37vh 54vw #fff,
    63vh 33vw #fff,
    28vh 76vw #fff,
    38vh 66vw #fff,
    55vh 88vw #fff,
    26vh 92vw #fff,
    66vh 94vw #fff,
    72vh 2vw #fff,
    52vh 33vw #fff,
    0vh 68vw #fff,
    36vh 87vw #fff,
    90vh 7vw #fff,
    46vh 73vw #fff,
    16vh 46vw #fff,
    64vh 91vw #fff,
    47vh 75vw #fff,
    92vh 38vw #fff,
    63vh 42vw #fff,
    50vh 32vw #fff,
    17vh 45vw #fff,
    14vh 80vw #fff,
    23vh 90vw #fff,
    41vh 74vw #fff,
    17vh 65vw #fff,
    39vh 85vw #fff,
    10vh 32vw #fff,
    36vh 3vw #fff,
    64vh 78vw #fff,
    78vh 36vw #fff,
    89vh 58vw #fff,
    4vh 95vw #fff,
    94vh 36vw #fff,
    39vh 53vw #fff,
    54vh 48vw #fff,
    99vh 47vw #fff,
    64vh 27vw #fff,
    85vh 26vw #fff,
    8vh 85vw #fff,
    52vh 7vw #fff,
    74vh 1vw #fff,
    62vh 3vw #fff,
    13vh 56vw #fff,
    3vh 0vw #fff,
    46vh 12vw #fff,
    32vh 73vw #fff,
    53vh 26vw #fff,
    14vh 63vw #fff,
    11vh 53vw #fff,
    95vh 39vw #fff,
    88vh 13vw #fff,
    71vh 77vw #fff,
    17vh 92vw #fff,
    8vh 43vw #fff,
    83vh 71vw #fff,
    0vh 9vw #fff,
    55vh 65vw #fff,
    54vh 62vw #fff,
    18vh 70vw #fff,
    62vh 20vw #fff,
    72vh 5vw #fff,
    46vh 6vw #fff,
    4vh 3vw #fff,
    58vh 28vw #fff,
    74vh 26vw #fff,
    85vh 74vw #fff,
    19vh 87vw #fff,
    32vh 80vw #fff,
    93vh 66vw #fff,
    95vh 78vw #fff,
    95vh 27vw #fff,
    53vh 52vw #fff,
    43vh 6vw #fff,
    74vh 10vw #fff,
    77vh 84vw #fff,
    49vh 60vw #fff,
    90vh 3vw #fff,
    31vh 59vw #fff,
    81vh 88vw #fff,
    74vh 21vw #fff,
    18vh 37vw #fff,
    86vh 12vw #fff,
    59vh 48vw #fff,
    45vh 14vw #fff,
    60vh 31vw #fff,
    97vh 34vw #fff,
    19vh 14vw #fff,
    6vh 9vw #fff,
    51vh 61vw #fff,
    28vh 34vw #fff,
    94vh 39vw #fff,
    81vh 26vw #fff,
    84vh 76vw #fff,
    0vh 61vw #fff,
    8vh 9vw #fff,
    5vh 10vw #fff,
    76vh 62vw #fff,
    1vh 34vw #fff,
    96vh 52vw #fff,
    56vh 0vw #fff,
    74vh 17vw #fff,
    53vh 73vw #fff,
    87vh 91vw #fff,
    9vh 56vw #fff,
    43vh 59vw #fff,
    55vh 73vw #fff,
    81vh 54vw #fff,
    65vh 93vw #fff,
    2vh 52vw #fff,
    71vh 63vw #fff,
    89vh 3vw #fff,
    91vh 61vw #fff,
    90vh 85vw #fff,
    95vh 2vw #fff,
    62vh 66vw #fff,
    51vh 22vw #fff,
    70vh 90vw #fff,
    2vh 13vw #fff,
    35vh 56vw #fff,
    81vh 17vw #fff,
    17vh 79vw #fff,
    53vh 0vw #fff,
    79vh 53vw #fff,
    48vh 62vw #fff,
    79vh 43vw #fff,
    31vh 60vw #fff,
    14vh 19vw #fff,
    95vh 70vw #fff,
    52vh 66vw #fff,
    52vh 80vw #fff,
    34vh 9vw #fff,
    79vh 25vw #fff,
    82vh 60vw #fff,
    23vh 44vw #fff,
    49vh 61vw #fff,
    39vh 83vw #fff,
    29vh 38vw #fff,
    38vh 44vw #fff,
    60vh 73vw #fff,
    79vh 29vw #fff,
    92vh 77vw #fff,
    78vh 29vw #fff,
    13vh 6vw #fff,
    81vh 87vw #fff,
    20vh 93vw #fff,
    10vh 86vw #fff,
    62vh 65vw #fff,
    12vh 83vw #fff,
    38vh 66vw #fff,
    31vh 41vw #fff,
    26vh 12vw #fff,
    18vh 54vw #fff,
    7vh 37vw #fff,
    36vh 97vw #fff,
    9vh 38vw #fff,
    32vh 69vw #fff,
    23vh 23vw #fff,
    42vh 73vw #fff,
    80vh 66vw #fff,
    19vh 6vw #fff,
    99vh 38vw #fff,
    72vh 64vw #fff,
    91vh 41vw #fff,
    25vh 56vw #fff,
    19vh 71vw #fff,
    63vh 27vw #fff,
    94vh 40vw #fff,
    28vh 44vw #fff,
    6vh 25vw #fff,
    22vh 84vw #fff,
    15vh 30vw #fff,
    73vh 92vw #fff,
    2vh 62vw #fff,
    45vh 65vw #fff,
    25vh 7vw #fff,
    3vh 15vw #fff,
    99vh 40vw #fff,
    36vh 0vw #fff,
    67vh 18vw #fff,
    18vh 58vw #fff,
    63vh 50vw #fff,
    23vh 48vw #fff,
    93vh 64vw #fff,
    96vh 54vw #fff,
    86vh 24vw #fff,
    84vh 99vw #fff,
    44vh 71vw #fff,
    96vh 21vw #fff,
    1vh 18vw #fff,
    68vh 32vw #fff,
    57vh 99vw #fff,
    87vh 56vw #fff,
    73vh 54vw #fff,
    88vh 20vw #fff,
    37vh 54vw #fff,
    12vh 72vw #fff,
    7vh 74vw #fff,
    44vh 79vw #fff,
    16vh 77vw #fff,
    92vh 21vw #fff,
    98vh 9vw #fff,
    69vh 75vw #fff,
    47vh 62vw #fff,
    73vh 5vw #fff,
    62vh 85vw #fff,
    14vh 44vw #fff,
    93vh 65vw #fff,
    68vh 88vw #fff,
    45vh 23vw #fff,
    5vh 52vw #fff,
    63vh 43vw #fff,
    89vh 95vw #fff,
    97vh 71vw #fff,
    84vh 33vw #fff,
    79vh 11vw #fff,
    1vh 99vw #fff,
    85vh 17vw #fff,
    6vh 12vw #fff,
    9vh 32vw #fff,
    28vh 90vw #fff,
    73vh 48vw #fff,
    95vh 85vw #fff,
    5vh 70vw #fff,
    75vh 30vw #fff,
    19vh 18vw #fff,
    24vh 11vw #fff,
    86vh 67vw #fff,
    53vh 4vw #fff,
    96vh 65vw #fff,
    44vh 86vw #fff,
    4vh 20vw #fff,
    21vh 51vw #fff,
    20vh 40vw #fff,
    9vh 6vw #fff,
    53vh 43vw #fff,
    48vh 49vw #fff,
    92vh 80vw #fff,
    32vh 76vw #fff,
    70vh 34vw #fff,
    98vh 74vw #fff,
    77vh 12vw #fff,
    11vh 42vw #fff,
    67vh 91vw #fff,
    80vh 76vw #fff,
    78vh 6vw #fff,
    41vh 8vw #fff,
    46vh 30vw #fff,
    81vh 73vw #fff,
    91vh 40vw #fff,
    87vh 99vw #fff,
    67vh 65vw #fff,
    99vh 36vw #fff,
    86vh 60vw #fff,
    93vh 2vw #fff,
    67vh 20vw #fff,
    72vh 90vw #fff,
    32vh 29vw #fff,
    60vh 66vw #fff,
    41vh 98vw #fff,
    83vh 6vw #fff,
    26vh 89vw #fff,
    20vh 87vw #fff,
    2vh 28vw #fff,
    12vh 56vw #fff,
    79vh 76vw #fff,
    92vh 53vw #fff,
    36vh 21vw #fff,
    2vh 85vw #fff,
    56vh 62vw #fff,
    91vh 21vw #fff,
    82vh 28vw #fff,
    16vh 21vw #fff,
    13vh 87vw #fff,
    61vh 13vw #fff,
    22vh 89vw #fff,
    85vh 28vw #fff,
    65vh 30vw #fff,
    99vh 75vw #fff,
    45vh 59vw #fff,
    62vh 41vw #fff,
    0vh 21vw #fff,
    26vh 96vw #fff,
    70vh 1vw #fff,
    58vh 81vw #fff,
    41vh 43vw #fff,
    55vh 56vw #fff,
    96vh 12vw #fff,
    27vh 8vw #fff,
    12vh 32vw #fff,
    82vh 20vw #fff,
    40vh 4vw #fff,
    80vh 72vw #fff,
    15vh 19vw #fff,
    58vh 13vw #fff,
    12vh 16vw #fff,
    65vh 99vw #fff,
    98vh 26vw #fff,
    62vh 34vw #fff,
    7vh 26vw #fff,
    81vh 74vw #fff,
    62vh 95vw #fff,
    43vh 42vw #fff,
    69vh 60vw #fff,
    56vh 24vw #fff,
    99vh 59vw #fff,
    88vh 13vw #fff,
    91vh 28vw #fff,
    84vh 86vw #fff,
    47vh 57vw #fff,
    14vh 63vw #fff,
    33vh 68vw #fff,
    88vh 36vw #fff,
    34vh 24vw #fff,
    2vh 1vw #fff,
    59vh 71vw #fff,
    31vh 79vw #fff,
    16vh 13vw #fff,
    34vh 9vw #fff,
    75vh 51vw #fff,
    13vh 1vw #fff,
    35vh 94vw #fff,
    58vh 84vw #fff,
    63vh 51vw #fff,
    79vh 90vw #fff,
    34vh 31vw #fff,
    67vh 84vw #fff,
    92vh 4vw #fff,
    13vh 14vw #fff,
    82vh 92vw #fff,
    55vh 72vw #fff,
    93vh 63vw #fff,
    62vh 52vw #fff,
    78vh 70vw #fff,
    3vh 96vw #fff,
    59vh 59vw #fff,
    11vh 87vw #fff,
    61vh 11vw #fff,
    33vh 30vw #fff,
    59vh 43vw #fff,
    79vh 37vw #fff,
    43vh 54vw #fff,
    24vh 21vw #fff;
}


#stars:after {
    content: '';
    position: fixed;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 20vh 81vw #fff,
    15vh 27vw #fff,
    99vh 93vw #fff,
    94vh 53vw #fff,
    44vh 10vw #fff,
    55vh 79vw #fff,
    63vh 19vw #fff,
    88vh 52vw #fff,
    59vh 11vw #fff,
    36vh 26vw #fff,
    68vh 45vw #fff,
    66vh 24vw #fff,
    39vh 87vw #fff,
    43vh 46vw #fff,
    67vh 7vw #fff,
    52vh 89vw #fff,
    24vh 17vw #fff,
    87vh 24vw #fff,
    71vh 83vw #fff,
    29vh 67vw #fff,
    55vh 25vw #fff,
    63vh 69vw #fff,
    84vh 28vw #fff,
    81vh 36vw #fff,
    75vh 64vw #fff,
    89vh 61vw #fff,
    92vh 54vw #fff,
    81vh 86vw #fff,
    34vh 11vw #fff,
    37vh 33vw #fff,
    91vh 82vw #fff,
    70vh 27vw #fff,
    91vh 71vw #fff,
    86vh 56vw #fff,
    5vh 79vw #fff,
    46vh 7vw #fff,
    26vh 79vw #fff,
    10vh 65vw #fff,
    8vh 72vw #fff,
    22vh 48vw #fff,
    27vh 15vw #fff,
    63vh 44vw #fff,
    66vh 83vw #fff,
    97vh 60vw #fff,
    28vh 64vw #fff,
    70vh 98vw #fff,
    52vh 83vw #fff,
    59vh 97vw #fff,
    91vh 65vw #fff,
    53vh 89vw #fff,
    11vh 72vw #fff,
    54vh 12vw #fff,
    93vh 26vw #fff,
    81vh 69vw #fff,
    41vh 0vw #fff,
    39vh 61vw #fff,
    13vh 60vw #fff,
    4vh 97vw #fff,
    55vh 19vw #fff,
    37vh 54vw #fff,
    63vh 33vw #fff,
    28vh 76vw #fff,
    38vh 66vw #fff,
    55vh 88vw #fff,
    26vh 92vw #fff,
    66vh 94vw #fff,
    72vh 2vw #fff,
    52vh 33vw #fff,
    0vh 68vw #fff,
    36vh 87vw #fff,
    90vh 7vw #fff,
    46vh 73vw #fff,
    16vh 46vw #fff,
    64vh 91vw #fff,
    47vh 75vw #fff,
    92vh 38vw #fff,
    63vh 42vw #fff,
    50vh 32vw #fff,
    17vh 45vw #fff,
    14vh 80vw #fff,
    23vh 90vw #fff,
    41vh 74vw #fff,
    17vh 65vw #fff,
    39vh 85vw #fff,
    10vh 32vw #fff,
    36vh 3vw #fff,
    64vh 78vw #fff,
    78vh 36vw #fff,
    89vh 58vw #fff,
    4vh 95vw #fff,
    94vh 36vw #fff,
    39vh 53vw #fff,
    54vh 48vw #fff,
    99vh 47vw #fff,
    64vh 27vw #fff,
    85vh 26vw #fff,
    8vh 85vw #fff,
    52vh 7vw #fff,
    74vh 1vw #fff,
    62vh 3vw #fff,
    13vh 56vw #fff,
    3vh 0vw #fff,
    46vh 12vw #fff,
    32vh 73vw #fff,
    53vh 26vw #fff,
    14vh 63vw #fff,
    11vh 53vw #fff,
    95vh 39vw #fff,
    88vh 13vw #fff,
    71vh 77vw #fff,
    17vh 92vw #fff,
    8vh 43vw #fff,
    83vh 71vw #fff,
    0vh 9vw #fff,
    55vh 65vw #fff,
    54vh 62vw #fff,
    18vh 70vw #fff,
    62vh 20vw #fff,
    72vh 5vw #fff,
    46vh 6vw #fff,
    4vh 3vw #fff,
    58vh 28vw #fff,
    74vh 26vw #fff,
    85vh 74vw #fff,
    19vh 87vw #fff,
    32vh 80vw #fff,
    93vh 66vw #fff,
    95vh 78vw #fff,
    95vh 27vw #fff,
    53vh 52vw #fff,
    43vh 6vw #fff,
    74vh 10vw #fff,
    77vh 84vw #fff,
    49vh 60vw #fff,
    90vh 3vw #fff,
    31vh 59vw #fff,
    81vh 88vw #fff,
    74vh 21vw #fff,
    18vh 37vw #fff,
    86vh 12vw #fff,
    59vh 48vw #fff,
    45vh 14vw #fff,
    60vh 31vw #fff,
    97vh 34vw #fff,
    19vh 14vw #fff,
    6vh 9vw #fff,
    51vh 61vw #fff,
    28vh 34vw #fff,
    94vh 39vw #fff,
    81vh 26vw #fff,
    84vh 76vw #fff,
    0vh 61vw #fff,
    8vh 9vw #fff,
    5vh 10vw #fff,
    76vh 62vw #fff,
    1vh 34vw #fff,
    96vh 52vw #fff,
    56vh 0vw #fff,
    74vh 17vw #fff,
    53vh 73vw #fff,
    87vh 91vw #fff,
    9vh 56vw #fff,
    43vh 59vw #fff,
    55vh 73vw #fff,
    81vh 54vw #fff,
    65vh 93vw #fff,
    2vh 52vw #fff,
    71vh 63vw #fff,
    89vh 3vw #fff,
    91vh 61vw #fff,
    90vh 85vw #fff,
    95vh 2vw #fff,
    62vh 66vw #fff,
    51vh 22vw #fff,
    70vh 90vw #fff,
    2vh 13vw #fff,
    35vh 56vw #fff,
    81vh 17vw #fff,
    17vh 79vw #fff,
    53vh 0vw #fff,
    79vh 53vw #fff,
    48vh 62vw #fff,
    79vh 43vw #fff,
    31vh 60vw #fff,
    14vh 19vw #fff,
    95vh 70vw #fff,
    52vh 66vw #fff,
    52vh 80vw #fff,
    34vh 9vw #fff,
    79vh 25vw #fff,
    82vh 60vw #fff,
    23vh 44vw #fff,
    49vh 61vw #fff,
    39vh 83vw #fff,
    29vh 38vw #fff,
    38vh 44vw #fff,
    60vh 73vw #fff,
    79vh 29vw #fff,
    92vh 77vw #fff,
    78vh 29vw #fff,
    13vh 6vw #fff,
    81vh 87vw #fff,
    20vh 93vw #fff,
    10vh 86vw #fff,
    62vh 65vw #fff,
    12vh 83vw #fff,
    38vh 66vw #fff,
    31vh 41vw #fff,
    26vh 12vw #fff,
    18vh 54vw #fff,
    7vh 37vw #fff,
    36vh 97vw #fff,
    9vh 38vw #fff,
    32vh 69vw #fff,
    23vh 23vw #fff,
    42vh 73vw #fff,
    80vh 66vw #fff,
    19vh 6vw #fff,
    99vh 38vw #fff,
    72vh 64vw #fff,
    91vh 41vw #fff,
    25vh 56vw #fff,
    19vh 71vw #fff,
    63vh 27vw #fff,
    94vh 40vw #fff,
    28vh 44vw #fff,
    6vh 25vw #fff,
    22vh 84vw #fff,
    15vh 30vw #fff,
    73vh 92vw #fff,
    2vh 62vw #fff,
    45vh 65vw #fff,
    25vh 7vw #fff,
    3vh 15vw #fff,
    99vh 40vw #fff,
    36vh 0vw #fff,
    67vh 18vw #fff,
    18vh 58vw #fff,
    63vh 50vw #fff,
    23vh 48vw #fff,
    93vh 64vw #fff,
    96vh 54vw #fff,
    86vh 24vw #fff,
    84vh 99vw #fff,
    44vh 71vw #fff,
    96vh 21vw #fff,
    1vh 18vw #fff,
    68vh 32vw #fff,
    57vh 99vw #fff,
    87vh 56vw #fff,
    73vh 54vw #fff,
    88vh 20vw #fff,
    37vh 54vw #fff,
    12vh 72vw #fff,
    7vh 74vw #fff,
    44vh 79vw #fff,
    16vh 77vw #fff,
    92vh 21vw #fff,
    98vh 9vw #fff,
    69vh 75vw #fff,
    47vh 62vw #fff,
    73vh 5vw #fff,
    62vh 85vw #fff,
    14vh 44vw #fff,
    93vh 65vw #fff,
    68vh 88vw #fff,
    45vh 23vw #fff,
    5vh 52vw #fff,
    63vh 43vw #fff,
    89vh 95vw #fff,
    97vh 71vw #fff,
    84vh 33vw #fff,
    79vh 11vw #fff,
    1vh 99vw #fff,
    85vh 17vw #fff,
    6vh 12vw #fff,
    9vh 32vw #fff,
    28vh 90vw #fff,
    73vh 48vw #fff,
    95vh 85vw #fff,
    5vh 70vw #fff,
    75vh 30vw #fff,
    19vh 18vw #fff,
    24vh 11vw #fff,
    86vh 67vw #fff,
    53vh 4vw #fff,
    96vh 65vw #fff,
    44vh 86vw #fff,
    4vh 20vw #fff,
    21vh 51vw #fff,
    20vh 40vw #fff,
    9vh 6vw #fff,
    53vh 43vw #fff,
    48vh 49vw #fff,
    92vh 80vw #fff,
    32vh 76vw #fff,
    70vh 34vw #fff,
    98vh 74vw #fff,
    77vh 12vw #fff,
    11vh 42vw #fff,
    67vh 91vw #fff,
    80vh 76vw #fff,
    78vh 6vw #fff,
    41vh 8vw #fff,
    46vh 30vw #fff,
    81vh 73vw #fff,
    91vh 40vw #fff,
    87vh 99vw #fff,
    67vh 65vw #fff,
    99vh 36vw #fff,
    86vh 60vw #fff,
    93vh 2vw #fff,
    67vh 20vw #fff,
    72vh 90vw #fff,
    32vh 29vw #fff,
    60vh 66vw #fff,
    41vh 98vw #fff,
    83vh 6vw #fff,
    26vh 89vw #fff,
    20vh 87vw #fff,
    2vh 28vw #fff,
    12vh 56vw #fff,
    79vh 76vw #fff,
    92vh 53vw #fff,
    36vh 21vw #fff,
    2vh 85vw #fff,
    56vh 62vw #fff,
    91vh 21vw #fff,
    82vh 28vw #fff,
    16vh 21vw #fff,
    13vh 87vw #fff,
    61vh 13vw #fff,
    22vh 89vw #fff,
    85vh 28vw #fff,
    65vh 30vw #fff,
    99vh 75vw #fff,
    45vh 59vw #fff,
    62vh 41vw #fff,
    0vh 21vw #fff,
    26vh 96vw #fff,
    70vh 1vw #fff,
    58vh 81vw #fff,
    41vh 43vw #fff,
    55vh 56vw #fff,
    96vh 12vw #fff,
    27vh 8vw #fff,
    12vh 32vw #fff,
    82vh 20vw #fff,
    40vh 4vw #fff,
    80vh 72vw #fff,
    15vh 19vw #fff,
    58vh 13vw #fff,
    12vh 16vw #fff,
    65vh 99vw #fff,
    98vh 26vw #fff,
    62vh 34vw #fff,
    7vh 26vw #fff,
    81vh 74vw #fff,
    62vh 95vw #fff,
    43vh 42vw #fff,
    69vh 60vw #fff,
    56vh 24vw #fff,
    99vh 59vw #fff,
    88vh 13vw #fff,
    91vh 28vw #fff,
    84vh 86vw #fff,
    47vh 57vw #fff,
    14vh 63vw #fff,
    33vh 68vw #fff,
    88vh 36vw #fff,
    34vh 24vw #fff,
    2vh 1vw #fff,
    59vh 71vw #fff,
    31vh 79vw #fff,
    16vh 13vw #fff,
    34vh 9vw #fff,
    75vh 51vw #fff,
    13vh 1vw #fff,
    35vh 94vw #fff,
    58vh 84vw #fff,
    63vh 51vw #fff,
    79vh 90vw #fff,
    34vh 31vw #fff,
    67vh 84vw #fff,
    92vh 4vw #fff,
    13vh 14vw #fff,
    82vh 92vw #fff,
    55vh 72vw #fff,
    93vh 63vw #fff,
    62vh 52vw #fff,
    78vh 70vw #fff,
    3vh 96vw #fff,
    59vh 59vw #fff,
    11vh 87vw #fff,
    61vh 11vw #fff,
    33vh 30vw #fff,
    59vh 43vw #fff,
    79vh 37vw #fff,
    43vh 54vw #fff,
    24vh 21vw #fff;
}

#stars2 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 20vw 76vw #fff,
    17vw 97vw #fff,
    31vw 30vw #fff,
    41vw 44vw #fff,
    61vw 94vw #fff,
    39vw 57vw #fff,
    4vw 18vw #fff,
    71vw 50vw #fff,
    17vw 36vw #fff,
    16vw 55vw #fff,
    96vw 19vw #fff,
    94vw 47vw #fff,
    35vw 18vw #fff,
    14vw 60vw #fff,
    86vw 13vw #fff,
    35vw 3vw #fff,
    36vw 87vw #fff,
    61vw 1vw #fff,
    25vw 72vw #fff,
    34vw 90vw #fff,
    43vw 74vw #fff,
    29vw 94vw #fff,
    79vw 54vw #fff,
    76vw 76vw #fff,
    74vw 61vw #fff,
    18vw 87vw #fff,
    95vw 60vw #fff,
    67vw 71vw #fff,
    65vw 30vw #fff,
    20vw 58vw #fff,
    25vw 86vw #fff,
    10vw 63vw #fff,
    65vw 7vw #fff,
    9vw 8vw #fff,
    40vw 60vw #fff,
    4vw 35vw #fff,
    64vw 2vw #fff,
    43vw 71vw #fff,
    80vw 0vw #fff,
    76vw 49vw #fff,
    99vw 44vw #fff,
    30vw 77vw #fff,
    95vw 60vw #fff,
    90vw 62vw #fff,
    96vw 16vw #fff,
    77vw 28vw #fff,
    8vw 28vw #fff,
    14vw 14vw #fff,
    54vw 43vw #fff,
    29vw 44vw #fff;
}

#stars2:after {
    content: '';
    position: fixed;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 20vw 76vw #fff,
    17vw 97vw #fff,
    31vw 30vw #fff,
    41vw 44vw #fff,
    61vw 94vw #fff,
    39vw 57vw #fff,
    4vw 18vw #fff,
    71vw 50vw #fff,
    17vw 36vw #fff,
    16vw 55vw #fff,
    96vw 19vw #fff,
    94vw 47vw #fff,
    35vw 18vw #fff,
    14vw 60vw #fff,
    86vw 13vw #fff,
    35vw 3vw #fff,
    36vw 87vw #fff,
    61vw 1vw #fff,
    25vw 72vw #fff,
    34vw 90vw #fff,
    43vw 74vw #fff,
    29vw 94vw #fff,
    79vw 54vw #fff,
    76vw 76vw #fff,
    74vw 61vw #fff,
    18vw 87vw #fff,
    95vw 60vw #fff,
    67vw 71vw #fff,
    65vw 30vw #fff,
    20vw 58vw #fff,
    25vw 86vw #fff,
    10vw 63vw #fff,
    65vw 7vw #fff,
    9vw 8vw #fff,
    40vw 60vw #fff,
    4vw 35vw #fff,
    64vw 2vw #fff,
    43vw 71vw #fff,
    80vw 0vw #fff,
    76vw 49vw #fff,
    99vw 44vw #fff,
    30vw 77vw #fff,
    95vw 60vw #fff,
    90vw 62vw #fff,
    96vw 16vw #fff,
    77vw 28vw #fff,
    8vw 28vw #fff,
    14vw 14vw #fff,
    54vw 43vw #fff,
    29vw 44vw #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 60s linear infinite;
    border-radius: 50%;
    box-shadow: 20vw 76vw #fff,
    17vw 97vw #fff,
    31vw 30vw #fff,
    41vw 44vw #fff,
    61vw 94vw #fff,
    39vw 57vw #fff,
    4vw 18vw #fff,
    71vw 50vh #fff,
    17vh 36vw #fff,
    16vw 55vw #fff,
    96vw 19vw #fff,
    94vw 47vw #fff,
    35vw 18vw #fff,
    14vw 60vw #fff,
    86vw 13vw #fff,
    35vw 3vw #fff,
    36vw 87vw #fff,
    61vw 1vw #fff,
    25vw 72vw #fff,
    34vw 90vw #fff,
    43vw 74vw #fff,
    29vw 94vw #fff,
    79vw 54vw #fff,
    76vw 76vw #fff,
    74vw 61vw #fff,
    18vw 87vw #fff,
    95vw 60vw #fff,
    67vw 71vw #fff,
    65vw 30vw #fff,
    20vw 58vw #fff,
    25vw 86vw #fff,
    10vw 63vw #fff,
    65vw 7vw #fff,
    9vw 8vw #fff,
    40vw 60vw #fff,
    4vw 35vw #fff,
    64vw 2vw #fff,
    43vw 71vw #fff,
    80vw 0vw #fff,
    76vw 49vw #fff,
    99vw 44vw #fff,
    30vw 77vw #fff,
    95vw 60vw #fff,
    90vw 62vw #fff,
    96vw 16vw #fff,
    77vw 28vw #fff,
    8vw 28vw #fff,
    14vw 14vw #fff,
    54vw 43vw #fff,
    29vw 44vw #fff;
}

#stars3:after {
    content: '';
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 20vw 76vw #fff,
    17vw 97vw #fff,
    31vw 30vw #fff,
    41vw 44vw #fff,
    61vw 94vw #fff,
    39vw 57vw #fff,
    4vw 18vw #fff,
    71vw 50vw #fff,
    17vw 36vw #fff,
    16vw 55vw #fff,
    96vw 19vw #fff,
    94vw 47vw #fff,
    35vw 18vw #fff,
    14vw 60vw #fff,
    86vw 13vw #fff,
    35vw 3vw #fff,
    36vw 87vw #fff,
    61vw 1vw #fff,
    25vw 72vw #fff,
    34vw 90vw #fff,
    43vw 74vw #fff,
    29vw 94vw #fff,
    79vw 54vw #fff,
    76vw 76vw #fff,
    74vw 61vw #fff,
    18vw 87vw #fff,
    95vw 60vw #fff,
    67vw 71vw #fff,
    65vw 30vw #fff,
    20vw 58vw #fff,
    25vw 86vw #fff,
    10vw 63vw #fff,
    65vw 7vw #fff,
    9vw 8vw #fff,
    40vw 60vw #fff,
    4vw 35vw #fff,
    64vw 2vw #fff,
    43vw 71vw #fff,
    80vw 0vw #fff,
    76vw 49vw #fff,
    99vw 44vw #fff,
    30vw 77vw #fff,
    95vw 60vw #fff,
    90vw 62vw #fff,
    96vw 16vw #fff,
    77vw 28vw #fff,
    8vw 28vw #fff,
    14vw 14vw #fff,
    54vw 43vw #fff,
    29vw 44vw #fff;
}

#stars4{
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow:4vh 85vw #fff,
    2vh 78vw #fff,
    86vh 88vw #fff,
    8vh 7vw #fff,
    69vh 64vw #fff,
    79vh 92vw #fff,
    23vh 1vw #fff,
    89vh 96vw #fff,
    62vh 84vw #fff,
    31vh 61vw #fff,
    50vh 30vw #fff,
    24vh 7vw #fff,
    98vh 80vw #fff,
    60vh 34vw #fff,
    39vh 96vw #fff,
    78vh 71vw #fff,
    36vh 69vw #fff,
    69vh 39vw #fff,
    21vh 42vw #fff,
    74vh 86vw #fff,
    4vh 76vw #fff,
    97vh 89vw #fff,
    36vh 86vw #fff,
    38vh 80vw #fff,
    94vh 11vw #fff,
    33vh 53vw #fff,
    9vh 3vw #fff,
    27vh 20vw #fff,
    46vh 7vw #fff,
    4vh 86vw #fff,
    59vh 14vw #fff,
    34vh 19vw #fff,
    18vh 16vw #fff,
    66vh 51vw #fff,
    76vh 86vw #fff,
    78vh 18vw #fff,
    84vh 48vw #fff,
    35vh 13vw #fff,
    12vh 65vw #fff,
    94vh 54vw #fff,
    3vh 95vw #fff,
    99vh 15vw #fff,
    92vh 63vw #fff,
    20vh 44vw #fff,
    37vh 6vw #fff,
    82vh 43vw #fff,
    76vh 45vw #fff,
    54vh 37vw #fff,
    44vh 69vw #fff,
    41vh 57vw #fff,
    20vh 97vw #fff,
    97vh 24vw #fff,
    17vh 75vw #fff,
    37vh 49vw #fff,
    6vh 87vw #fff,
    38vh 30vw #fff,
    16vh 81vw #fff,
    4vh 15vw #fff,
    47vh 11vw #fff,
    61vh 72vw #fff,
    63vh 10vw #fff,
    95vh 31vw #fff,
    96vh 61vw #fff,
    51vh 50vw #fff,
    58vh 16vw #fff,
    56vh 47vw #fff,
    63vh 70vw #fff,
    99vh 1vw #fff,
    84vh 69vw #fff,
    57vh 27vw #fff,
    71vh 90vw #fff,
    8vh 97vw #fff,
    33vh 43vw #fff,
    48vh 43vw #fff,
    24vh 79vw #fff,
    60vh 10vw #fff,
    52vh 59vw #fff,
    96vh 66vw #fff,
    92vh 79vw #fff,
    2vh 72vw #fff,
    4vh 71vw #fff,
    48vh 18vw #fff,
    74vh 15vw #fff,
    86vh 53vw #fff,
    0vh 34vw #fff,
    67vh 94vw #fff,
    97vh 69vw #fff,
    85vh 34vw #fff,
    30vh 72vw #fff,
    15vh 50vw #fff,
    87vh 95vw #fff,
    89vh 19vw #fff,
    31vh 48vw #fff,
    43vh 42vw #fff,
    41vh 8vw #fff,
    58vh 49vw #fff,
    95vh 56vw #fff,
    72vh 30vw #fff,
    93vh 87vw #fff,
    58vh 49vw #fff,
    79vh 85vw #fff,
    24vh 14vw #fff,
    50vh 6vw #fff,
    64vh 38vw #fff,
    85vh 89vw #fff,
    8vh 28vw #fff,
    54vh 98vw #fff,
    60vh 87vw #fff,
    34vh 49vw #fff,
    38vh 50vw #fff,
    5vh 6vw #fff,
    84vh 99vw #fff,
    10vh 47vw #fff,
    41vh 46vw #fff,
    31vh 97vw #fff,
    76vh 27vw #fff,
    6vh 33vw #fff,
    41vh 62vw #fff,
    92vh 8vw #fff,
    57vh 45vw #fff,
    38vh 2vw #fff,
    22vh 34vw #fff,
    22vh 63vw #fff,
    82vh 35vw #fff,
    57vh 48vw #fff,
    17vh 31vw #fff,
    29vh 14vw #fff,
    64vh 71vw #fff,
    75vh 56vw #fff,
    89vh 93vw #fff,
    96vh 82vw #fff,
    77vh 72vw #fff,
    49vh 37vw #fff,
    38vh 34vw #fff,
    2vh 55vw #fff,
    84vh 39vw #fff,
    13vh 78vw #fff,
    50vh 66vw #fff,
    80vh 62vw #fff,
    95vh 60vw #fff,
    30vh 60vw #fff,
    78vh 89vw #fff,
    65vh 31vw #fff,
    15vh 53vw #fff,
    84vh 23vw #fff,
    1vh 52vw #fff,
    68vh 48vw #fff,
    37vh 93vw #fff,
    55vh 22vw #fff,
    89vh 71vw #fff,
    41vh 86vw #fff,
    59vh 2vw #fff,
    3vh 3vw #fff,
    99vh 65vw #fff,
    95vh 96vw #fff,
    35vh 84vw #fff,
    2vh 86vw #fff,
    42vh 98vw #fff,
    97vh 76vw #fff,
    53vh 78vw #fff,
    44vh 81vw #fff,
    96vh 64vw #fff,
    56vh 97vw #fff,
    6vh 3vw #fff,
    43vh 7vw #fff,
    2vh 97vw #fff,
    66vh 94vw #fff,
    57vh 16vw #fff,
    64vh 88vw #fff,
    75vh 63vw #fff,
    26vh 32vw #fff,
    94vh 68vw #fff,
    95vh 24vw #fff,
    44vh 95vw #fff,
    87vh 35vw #fff,
    66vh 32vw #fff,
    90vh 38vw #fff,
    65vh 50vw #fff,
    44vh 49vw #fff,
    52vh 76vw #fff,
    35vh 87vw #fff,
    80vh 20vw #fff,
    59vh 36vw #fff,
    10vh 91vw #fff,
    54vh 72vw #fff,
    71vh 29vw #fff,
    61vh 8vw #fff,
    16vh 90vw #fff,
    22vh 31vw #fff,
    23vh 80vw #fff,
    1vh 26vw #fff,
    2vh 85vw #fff,
    61vh 85vw #fff,
    78vh 72vw #fff,
    48vh 48vw #fff,
    47vh 2vw #fff,
    1vh 94vw #fff,
    12vh 46vw #fff,
    17vh 93vw #fff,
    22vh 0vw #fff,
    13vh 70vw #fff,
    70vh 45vw #fff,
    80vh 78vw #fff,
    58vh 51vw #fff,
    52vh 66vw #fff,
    49vh 34vw #fff,
    34vh 20vw #fff,
    82vh 51vw #fff,
    63vh 59vw #fff,
    25vh 22vw #fff,
    75vh 6vw #fff,
    89vh 9vw #fff,
    17vh 74vw #fff,
    1vh 19vw #fff,
    19vh 96vw #fff,
    90vh 27vw #fff,
    38vh 57vw #fff,
    20vh 67vw #fff,
    37vh 2vw #fff,
    74vh 39vw #fff,
    14vh 29vw #fff,
    54vh 58vw #fff,
    31vh 60vw #fff,
    61vh 3vw #fff,
    16vh 35vw #fff,
    26vh 48vw #fff,
    35vh 50vw #fff,
    80vh 95vw #fff,
    5vh 14vw #fff,
    70vh 58vw #fff,
    85vh 1vw #fff,
    94vh 49vw #fff,
    72vh 9vw #fff,
    49vh 95vw #fff,
    73vh 21vw #fff,
    34vh 40vw #fff,
    11vh 44vw #fff,
    21vh 2vw #fff,
    6vh 58vw #fff,
    50vh 59vw #fff,
    54vh 91vw #fff,
    31vh 54vw #fff,
    95vh 89vw #fff,
    54vh 65vw #fff,
    49vh 38vw #fff,
    2vh 3vw #fff,
    53vh 58vw #fff,
    24vh 93vw #fff,
    5vh 76vw #fff,
    89vh 7vw #fff,
    33vh 85vw #fff,
    66vh 27vw #fff,
    8vh 7vw #fff,
    24vh 8vw #fff,
    78vh 12vw #fff,
    12vh 88vw #fff,
    51vh 6vw #fff,
    9vh 71vw #fff,
    50vh 56vw #fff,
    58vh 23vw #fff,
    39vh 75vw #fff,
    19vh 72vw #fff,
    99vh 36vw #fff,
    37vh 41vw #fff,
    2vh 23vw #fff,
    59vh 62vw #fff,
    58vh 86vw #fff,
    81vh 45vw #fff,
    13vh 8vw #fff,
    97vh 67vw #fff,
    42vh 80vw #fff,
    5vh 77vw #fff,
    91vh 84vw #fff,
    37vh 32vw #fff,
    71vh 95vw #fff,
    17vh 87vw #fff,
    48vh 29vw #fff,
    8vh 74vw #fff,
    68vh 18vw #fff,
    90vh 47vw #fff,
    39vh 83vw #fff,
    4vh 66vw #fff,
    3vh 63vw #fff,
    85vh 83vw #fff,
    41vh 28vw #fff,
    81vh 34vw #fff,
    6vh 43vw #fff,
    30vh 54vw #fff,
    23vh 49vw #fff,
    71vh 81vw #fff,
    19vh 8vw #fff,
    30vh 2vw #fff,
    71vh 44vw #fff,
    94vh 76vw #fff,
    17vh 17vw #fff,
    22vh 17vw #fff,
    47vh 69vw #fff,
    7vh 81vw #fff,
    0vh 51vw #fff,
    9vh 26vw #fff,
    78vh 88vw #fff,
    48vh 59vw #fff,
    33vh 49vw #fff,
    58vh 15vw #fff,
    33vh 13vw #fff,
    18vh 86vw #fff,
    68vh 9vw #fff,
    99vh 82vw #fff,
    21vh 18vw #fff,
    25vh 89vw #fff,
    50vh 18vw #fff,
    69vh 53vw #fff,
    85vh 77vw #fff,
    88vh 30vw #fff,
    0vh 75vw #fff,
    33vh 51vw #fff,
    34vh 81vw #fff,
    86vh 98vw #fff,
    74vh 15vw #fff,
    77vh 30vw #fff,
    10vh 64vw #fff,
    25vh 32vw #fff,
    89vh 35vw #fff,
    47vh 50vw #fff,
    61vh 85vw #fff,
    4vh 2vw #fff,
    44vh 30vw #fff,
    58vh 95vw #fff,
    25vh 60vw #fff,
    73vh 96vw #fff,
    72vh 24vw #fff,
    40vh 58vw #fff,
    77vh 66vw #fff,
    25vh 89vw #fff,
    99vh 25vw #fff,
    38vh 53vw #fff,
    34vh 26vw #fff,
    1vh 81vw #fff,
    6vh 53vw #fff,
    55vh 30vw #fff,
    24vh 22vw #fff,
    79vh 35vw #fff,
    58vh 11vw #fff,
    67vh 97vw #fff,
    61vh 46vw #fff,
    53vh 38vw #fff,
    24vh 42vw #fff,
    74vh 16vw #fff,
    97vh 15vw #fff,
    46vh 36vw #fff,
    40vh 40vw #fff,
    61vh 93vw #fff,
    73vh 69vw #fff,
    0vh 23vw #fff,
    9vh 34vw #fff,
    55vh 7vw #fff,
    54vh 49vw #fff,
    3vh 40vw #fff,
    3vh 42vw #fff,
    7vh 7vw #fff,
    22vh 90vw #fff,
    55vh 55vw #fff,
    90vh 0vw #fff,
    24vh 47vw #fff,
    36vh 20vw #fff,
    72vh 93vw #fff,
    99vh 35vw #fff,
    66vh 73vw #fff,
    46vh 61vw #fff,
    3vh 87vw #fff,
    34vh 23vw #fff,
    10vh 79vw #fff,
    44vh 56vw #fff,
    56vh 21vw #fff,
    27vh 13vw #fff,
    26vh 5vw #fff,
    47vh 31vw #fff,
    14vh 23vw #fff,
    77vh 42vw #fff,
    49vh 85vw #fff,
    28vh 18vw #fff,
    92vh 53vw #fff,
    55vh 49vw #fff,
    56vh 26vw #fff,
    46vh 34vw #fff,
    94vh 48vw #fff,
    17vh 83vw #fff,
    31vh 30vw #fff,
    32vh 42vw #fff,
    34vh 9vw #fff,
    17vh 87vw #fff,
    68vh 69vw #fff,
    17vh 88vw #fff,
    78vh 89vw #fff,
    82vh 75vw #fff,
    33vh 2vw #fff,
    83vh 81vw #fff,
    67vh 86vw #fff,
    85vh 43vw #fff,
    67vh 40vw #fff;
}

#stars4:after{
    content: '';
    position: fixed;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:4vh 85vw #fff,
    2vh 78vw #fff,
    86vh 88vw #fff,
    8vh 7vw #fff,
    69vh 64vw #fff,
    79vh 92vw #fff,
    23vh 1vw #fff,
    89vh 96vw #fff,
    62vh 84vw #fff,
    31vh 61vw #fff,
    50vh 30vw #fff,
    24vh 7vw #fff,
    98vh 80vw #fff,
    60vh 34vw #fff,
    39vh 96vw #fff,
    78vh 71vw #fff,
    36vh 69vw #fff,
    69vh 39vw #fff,
    21vh 42vw #fff,
    74vh 86vw #fff,
    4vh 76vw #fff,
    97vh 89vw #fff,
    36vh 86vw #fff,
    38vh 80vw #fff,
    94vh 11vw #fff,
    33vh 53vw #fff,
    9vh 3vw #fff,
    27vh 20vw #fff,
    46vh 7vw #fff,
    4vh 86vw #fff,
    59vh 14vw #fff,
    34vh 19vw #fff,
    18vh 16vw #fff,
    66vh 51vw #fff,
    76vh 86vw #fff,
    78vh 18vw #fff,
    84vh 48vw #fff,
    35vh 13vw #fff,
    12vh 65vw #fff,
    94vh 54vw #fff,
    3vh 95vw #fff,
    99vh 15vw #fff,
    92vh 63vw #fff,
    20vh 44vw #fff,
    37vh 6vw #fff,
    82vh 43vw #fff,
    76vh 45vw #fff,
    54vh 37vw #fff,
    44vh 69vw #fff,
    41vh 57vw #fff,
    20vh 97vw #fff,
    97vh 24vw #fff,
    17vh 75vw #fff,
    37vh 49vw #fff,
    6vh 87vw #fff,
    38vh 30vw #fff,
    16vh 81vw #fff,
    4vh 15vw #fff,
    47vh 11vw #fff,
    61vh 72vw #fff,
    63vh 10vw #fff,
    95vh 31vw #fff,
    96vh 61vw #fff,
    51vh 50vw #fff,
    58vh 16vw #fff,
    56vh 47vw #fff,
    63vh 70vw #fff,
    99vh 1vw #fff,
    84vh 69vw #fff,
    57vh 27vw #fff,
    71vh 90vw #fff,
    8vh 97vw #fff,
    33vh 43vw #fff,
    48vh 43vw #fff,
    24vh 79vw #fff,
    60vh 10vw #fff,
    52vh 59vw #fff,
    96vh 66vw #fff,
    92vh 79vw #fff,
    2vh 72vw #fff,
    4vh 71vw #fff,
    48vh 18vw #fff,
    74vh 15vw #fff,
    86vh 53vw #fff,
    0vh 34vw #fff,
    67vh 94vw #fff,
    97vh 69vw #fff,
    85vh 34vw #fff,
    30vh 72vw #fff,
    15vh 50vw #fff,
    87vh 95vw #fff,
    89vh 19vw #fff,
    31vh 48vw #fff,
    43vh 42vw #fff,
    41vh 8vw #fff,
    58vh 49vw #fff,
    95vh 56vw #fff,
    72vh 30vw #fff,
    93vh 87vw #fff,
    58vh 49vw #fff,
    79vh 85vw #fff,
    24vh 14vw #fff,
    50vh 6vw #fff,
    64vh 38vw #fff,
    85vh 89vw #fff,
    8vh 28vw #fff,
    54vh 98vw #fff,
    60vh 87vw #fff,
    34vh 49vw #fff,
    38vh 50vw #fff,
    5vh 6vw #fff,
    84vh 99vw #fff,
    10vh 47vw #fff,
    41vh 46vw #fff,
    31vh 97vw #fff,
    76vh 27vw #fff,
    6vh 33vw #fff,
    41vh 62vw #fff,
    92vh 8vw #fff,
    57vh 45vw #fff,
    38vh 2vw #fff,
    22vh 34vw #fff,
    22vh 63vw #fff,
    82vh 35vw #fff,
    57vh 48vw #fff,
    17vh 31vw #fff,
    29vh 14vw #fff,
    64vh 71vw #fff,
    75vh 56vw #fff,
    89vh 93vw #fff,
    96vh 82vw #fff,
    77vh 72vw #fff,
    49vh 37vw #fff,
    38vh 34vw #fff,
    2vh 55vw #fff,
    84vh 39vw #fff,
    13vh 78vw #fff,
    50vh 66vw #fff,
    80vh 62vw #fff,
    95vh 60vw #fff,
    30vh 60vw #fff,
    78vh 89vw #fff,
    65vh 31vw #fff,
    15vh 53vw #fff,
    84vh 23vw #fff,
    1vh 52vw #fff,
    68vh 48vw #fff,
    37vh 93vw #fff,
    55vh 22vw #fff,
    89vh 71vw #fff,
    41vh 86vw #fff,
    59vh 2vw #fff,
    3vh 3vw #fff,
    99vh 65vw #fff,
    95vh 96vw #fff,
    35vh 84vw #fff,
    2vh 86vw #fff,
    42vh 98vw #fff,
    97vh 76vw #fff,
    53vh 78vw #fff,
    44vh 81vw #fff,
    96vh 64vw #fff,
    56vh 97vw #fff,
    6vh 3vw #fff,
    43vh 7vw #fff,
    2vh 97vw #fff,
    66vh 94vw #fff,
    57vh 16vw #fff,
    64vh 88vw #fff,
    75vh 63vw #fff,
    26vh 32vw #fff,
    94vh 68vw #fff,
    95vh 24vw #fff,
    44vh 95vw #fff,
    87vh 35vw #fff,
    66vh 32vw #fff,
    90vh 38vw #fff,
    65vh 50vw #fff,
    44vh 49vw #fff,
    52vh 76vw #fff,
    35vh 87vw #fff,
    80vh 20vw #fff,
    59vh 36vw #fff,
    10vh 91vw #fff,
    54vh 72vw #fff,
    71vh 29vw #fff,
    61vh 8vw #fff,
    16vh 90vw #fff,
    22vh 31vw #fff,
    23vh 80vw #fff,
    1vh 26vw #fff,
    2vh 85vw #fff,
    61vh 85vw #fff,
    78vh 72vw #fff,
    48vh 48vw #fff,
    47vh 2vw #fff,
    1vh 94vw #fff,
    12vh 46vw #fff,
    17vh 93vw #fff,
    22vh 0vw #fff,
    13vh 70vw #fff,
    70vh 45vw #fff,
    80vh 78vw #fff,
    58vh 51vw #fff,
    52vh 66vw #fff,
    49vh 34vw #fff,
    34vh 20vw #fff,
    82vh 51vw #fff,
    63vh 59vw #fff,
    25vh 22vw #fff,
    75vh 6vw #fff,
    89vh 9vw #fff,
    17vh 74vw #fff,
    1vh 19vw #fff,
    19vh 96vw #fff,
    90vh 27vw #fff,
    38vh 57vw #fff,
    20vh 67vw #fff,
    37vh 2vw #fff,
    74vh 39vw #fff,
    14vh 29vw #fff,
    54vh 58vw #fff,
    31vh 60vw #fff,
    61vh 3vw #fff,
    16vh 35vw #fff,
    26vh 48vw #fff,
    35vh 50vw #fff,
    80vh 95vw #fff,
    5vh 14vw #fff,
    70vh 58vw #fff,
    85vh 1vw #fff,
    94vh 49vw #fff,
    72vh 9vw #fff,
    49vh 95vw #fff,
    73vh 21vw #fff,
    34vh 40vw #fff,
    11vh 44vw #fff,
    21vh 2vw #fff,
    6vh 58vw #fff,
    50vh 59vw #fff,
    54vh 91vw #fff,
    31vh 54vw #fff,
    95vh 89vw #fff,
    54vh 65vw #fff,
    49vh 38vw #fff,
    2vh 3vw #fff,
    53vh 58vw #fff,
    24vh 93vw #fff,
    5vh 76vw #fff,
    89vh 7vw #fff,
    33vh 85vw #fff,
    66vh 27vw #fff,
    8vh 7vw #fff,
    24vh 8vw #fff,
    78vh 12vw #fff,
    12vh 88vw #fff,
    51vh 6vw #fff,
    9vh 71vw #fff,
    50vh 56vw #fff,
    58vh 23vw #fff,
    39vh 75vw #fff,
    19vh 72vw #fff,
    99vh 36vw #fff,
    37vh 41vw #fff,
    2vh 23vw #fff,
    59vh 62vw #fff,
    58vh 86vw #fff,
    81vh 45vw #fff,
    13vh 8vw #fff,
    97vh 67vw #fff,
    42vh 80vw #fff,
    5vh 77vw #fff,
    91vh 84vw #fff,
    37vh 32vw #fff,
    71vh 95vw #fff,
    17vh 87vw #fff,
    48vh 29vw #fff,
    8vh 74vw #fff,
    68vh 18vw #fff,
    90vh 47vw #fff,
    39vh 83vw #fff,
    4vh 66vw #fff,
    3vh 63vw #fff,
    85vh 83vw #fff,
    41vh 28vw #fff,
    81vh 34vw #fff,
    6vh 43vw #fff,
    30vh 54vw #fff,
    23vh 49vw #fff,
    71vh 81vw #fff,
    19vh 8vw #fff,
    30vh 2vw #fff,
    71vh 44vw #fff,
    94vh 76vw #fff,
    17vh 17vw #fff,
    22vh 17vw #fff,
    47vh 69vw #fff,
    7vh 81vw #fff,
    0vh 51vw #fff,
    9vh 26vw #fff,
    78vh 88vw #fff,
    48vh 59vw #fff,
    33vh 49vw #fff,
    58vh 15vw #fff,
    33vh 13vw #fff,
    18vh 86vw #fff,
    68vh 9vw #fff,
    99vh 82vw #fff,
    21vh 18vw #fff,
    25vh 89vw #fff,
    50vh 18vw #fff,
    69vh 53vw #fff,
    85vh 77vw #fff,
    88vh 30vw #fff,
    0vh 75vw #fff,
    33vh 51vw #fff,
    34vh 81vw #fff,
    86vh 98vw #fff,
    74vh 15vw #fff,
    77vh 30vw #fff,
    10vh 64vw #fff,
    25vh 32vw #fff,
    89vh 35vw #fff,
    47vh 50vw #fff,
    61vh 85vw #fff,
    4vh 2vw #fff,
    44vh 30vw #fff,
    58vh 95vw #fff,
    25vh 60vw #fff,
    73vh 96vw #fff,
    72vh 24vw #fff,
    40vh 58vw #fff,
    77vh 66vw #fff,
    25vh 89vw #fff,
    99vh 25vw #fff,
    38vh 53vw #fff,
    34vh 26vw #fff,
    1vh 81vw #fff,
    6vh 53vw #fff,
    55vh 30vw #fff,
    24vh 22vw #fff,
    79vh 35vw #fff,
    58vh 11vw #fff,
    67vh 97vw #fff,
    61vh 46vw #fff,
    53vh 38vw #fff,
    24vh 42vw #fff,
    74vh 16vw #fff,
    97vh 15vw #fff,
    46vh 36vw #fff,
    40vh 40vw #fff,
    61vh 93vw #fff,
    73vh 69vw #fff,
    0vh 23vw #fff,
    9vh 34vw #fff,
    55vh 7vw #fff,
    54vh 49vw #fff,
    3vh 40vw #fff,
    3vh 42vw #fff,
    7vh 7vw #fff,
    22vh 90vw #fff,
    55vh 55vw #fff,
    90vh 0vw #fff,
    24vh 47vw #fff,
    36vh 20vw #fff,
    72vh 93vw #fff,
    99vh 35vw #fff,
    66vh 73vw #fff,
    46vh 61vw #fff,
    3vh 87vw #fff,
    34vh 23vw #fff,
    10vh 79vw #fff,
    44vh 56vw #fff,
    56vh 21vw #fff,
    27vh 13vw #fff,
    26vh 5vw #fff,
    47vh 31vw #fff,
    14vh 23vw #fff,
    77vh 42vw #fff,
    49vh 85vw #fff,
    28vh 18vw #fff,
    92vh 53vw #fff,
    55vh 49vw #fff,
    56vh 26vw #fff,
    46vh 34vw #fff,
    94vh 48vw #fff,
    17vh 83vw #fff,
    31vh 30vw #fff,
    32vh 42vw #fff,
    34vh 9vw #fff,
    17vh 87vw #fff,
    68vh 69vw #fff,
    17vh 88vw #fff,
    78vh 89vw #fff,
    82vh 75vw #fff,
    33vh 2vw #fff,
    83vh 81vw #fff,
    67vh 86vw #fff,
    85vh 43vw #fff,
    67vh 40vw #fff;
}


@keyframes animStar {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-200vh);
    }
}

@media (max-width: 600px) {
    .main-page-grid {
        display: flex;
        flex-direction: column;
    }
}




