.main-page-grid {
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    grid-template-areas: 'sidebar content';
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.stars-container {
    height: 0;
}

@media (max-width: 600px) {
    .main-page-grid {
        display: flex;
        flex-direction: column;
    }

    .content {
        order: 1;
    }

    .sidebar {
        order: 2;
    }
}





