:root {
  --background: #171917;
  --standout: #1c1c1b;
  --accent: #da4453;
  --hover: #702219;
}

@font-face {
  font-family: 'pixel';
  src: local('pixel'), url(./fonts/pixel.woff) format('woff');
}


body {
  margin: 0;
  height: 100vh;
  font-family: 'pixel', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Fira Sans', 'Oxygen', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

* {
 margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: dimgrey;
  border-radius:10px;
  opacity: 0.1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
