.wrapper {
    background-color: var(--background);
    display: flex;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-size: 0.7vmin;
}

.btn {
    background-color: var(--accent);
    border-radius: 50%;
    padding: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    font-size: 7vmin;
    position: inherit;
}



.btn:hover {
    background-color: var(--hover);
}


.main-content {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#console-stmnt{
    margin-top: 2em;
}
#console-stmnt1 {
    margin-top: 2em;
    margin-bottom: 2em;
}






@media (max-width: 600px) {
   .wrapper {
       height: 90vh;
   }

    .main-content {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: 35em;
    }
}




