.side-nav {
    background-color: var(--standout);
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    justify-content: space-evenly;
}

.nav-item {
    margin-top: 4em;
    text-align: center;
}
.nav-item i {
    font-size: 2em;
}

.nav-item:hover i {
    display: none;
}

.nav-item span {
    display: none;
}

.nav-item:hover span {
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--accent);
    font-size: 0.7em;
}

@media (max-width: 600px) {
    .side-nav {
        height: 10vh;
        overflow: hidden;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .nav-item {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        flex: 1;
    }

    .nav-item:hover {
        margin: auto;
        text-align: center;
    }

    .nav-item i, .nav-item span {
        font-size: 0.7em;
    }

    .nav-item:hover span {
        background-color: var(--accent);
        font-size: 0.7em;
    }
}










